# macOS
.DS_Store

# Node
**/node_modules/

# Build outputs
**/dist/
**/release/
**/build/
**/.next/

# Electron / package artifacts
**/*.dmg
**/*.dmg.blockmap
**/*.exe
**/*.asar
**/*.app
**/win-unpacked/

# Capacitor native derived data
**/DerivedData/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
